<div class="container">
  <h2> Réaliser vos objectifs avec TenStep</h2>
</div>
<div class="container">
  <div class="navbar navbar-expand-lg">
    <div class="nav-item">
      <img src="../../../assets/SvgaLearn.png" class="img-svg" alt="Learn image">
      <h3>Sortir plus rapidement des crises</h3>
      <br>

    </div>
    <div class="nav-item">
      <img src="../../../assets/teacher-img.png" class="img-svg" alt="Learn image">
      <h3>Gérer les risques avant l'apparition des problèmes</h3>
      <br>
      
    </div>
    <div class="nav-item">
      <img src="../../../assets/SvgaColorCertificate.png" class="img-svg" alt="Learn image">
      <h3>Mettre en œuvre la stratégie</h3>
      <br>
      
    </div>
    <div class="nav-item">
      <img src="../../../assets/SvgaCommunity.png" class="img-svg" alt="Learn image">
      <h3>Réduire l'effort de travail et les coûts</h3>
      <br>
      
    </div>
  </div>
</div>
<br>
<div class="container-lg myContainer">
  <img src="../../../assets/forum_image.jpeg" class="img-fluid forumImage" alt="features image">
  <div class="float-right forumText">
    <h2 class="ml-lg-4.75">Vous voulez poser des questions??</h2>
    <p class="ml-5">n'hésitez pas à nous poser vos questions <br> en utilisant notre Forum</p>
    <button (click)="gotoForum()" class="btn btn-light ml-5">Aller à Forum</button>
  </div>
</div>
<br>

